<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Daniel Blanc</title>
    {% load static %}
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="{% static 'core/assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'core/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'core/assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'core/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'core/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{% static 'core/assets/css/style.css' %}" rel="stylesheet">


  </head>
{% load static %}

<body>

<div class='d-flex justify-content-center align-items-center' style='height:500px'>

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Thank you!</h4>
  <p>Your message has been send. I will be in touch!</p>
  <hr>
  <div class='d-flex justify-content-end'>
  <p class="mb-0"><a href="{% url 'home' %}" style='color:brown'>Go back yo my web</a></p>
  </div>
</div>  

</div>




  </div>
</div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>


</body>